*{
    box-sizing: border-box;
}


header{
    background-color: black;
}

header a{
    text-decoration: none;
    color: white;
}

.date{
    border: 1px solid gray;
    border-color: lightgray;
    background-color: lightgray;
}
.topnav{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    text-align: center;
    color: white;
    width: 100%;
    height: 40px;
    padding-top: 80px;
}
.topnav h3{
    position: absolute;
    top: 10px;
    left: 8%;
    font-size: xx-large;
}

.topnav a:hover{
    color: red;
}

.container{
    background-image: url(./images/theaterimage.png);
    color: white;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 590px;
}

@media (max-width: 650px){
    .showtime{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    .topnav{
        flex-direction: column;
    }
    .topnav h3{
        display: none;
    }
    .grid2 {
        flex-direction: column;
    }
    .foot{
        margin-left: 30px;
    }
}
.showtime{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.showtime img{
    width: 200px;
    height: 200px;
    padding-right: 15px;
}

.text1, .text2, .text3, .text4{
    padding-right: 20px;
}

.container h1{
    text-align: center;
    padding-top: 20%;
    font-size: 75px;
}


 button{
    width: 135px;
    height: 65px;
    background-color: rgb(233, 160, 24);
    color: white;
 }
 
 .grid2{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
 }
 

.foot{ display: flex;
    flex-direction: column;
    
}


.pic{
    width: 200px;
    height: 200px;
    padding-top: 40px;
}

.grid2 a{
    text-decoration: none;
    color: white;
} */

.grid2 a:hover{
    color: red;
}

